In [66]:
import numpy as np
import pandas as pd
import os
import cv2
from skimage.io import imread
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
import seaborn as sns

In [5]:
#fanction that change the size and the color of the pictures 
def readImg_gray(file_path):
    img = cv2.imread(file_path)
    gray_img = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    resized_img = cv2.resize(gray_img, (64,64))
    return resized_img

In [53]:
#fanction to change from tictures to Array
def TrainToArr(name, num):    
    m=12500
    n_x = 64*64
    X = np.ndarray((m,n_x), dtype=np.uint8)
    y = np.zeros((m,1))
    folder = 'train/'
    for i in range(m):
        img = readImg_gray(folder + name+ '.' + str(i) + '.jpg')
        X[i,:] = np.squeeze(img.reshape((n_x,1)))
        y[i,0] = num
    return X,y

In [9]:
#we got:
X_dog,Y_dog=TrainToArr('dog', num=1)
X_cat,Y_cat=TrainToArr('cat', num=0)

#### Cat data

In [36]:
X_Cat=pd.DataFrame(data=X_cat)
print (X_Cat.shape)
X_Cat.head()

(12500, 4096)

,0,1,2,3,4,5,6,7,8,9,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,170,176,183,188,192,196,200,202,205,208,...,10,9,3,3,3,2,2,2,2,2
1,43,42,36,29,41,43,72,38,37,37,...,77,64,38,39,56,58,53,72,68,29
2,52,46,61,64,130,134,75,210,194,171,...,60,46,60,48,48,32,49,44,42,49
3,156,169,191,190,185,141,124,127,132,201,...,133,182,192,146,190,173,195,176,171,181
4,141,158,166,172,173,177,179,181,182,184,...,12,11,11,11,13,10,11,12,10,9

In [50]:
X_Cat['label'] = Y_cat
cat_data=X_Cat
cat_data.head()
#the cat dataset

,0,1,2,3,4,5,6,7,8,9,...,4087,4088,4089,4090,4091,4092,4093,4094,4095,label
0,170,176,183,188,192,196,200,202,205,208,...,9,3,3,3,2,2,2,2,2,0.0
1,43,42,36,29,41,43,72,38,37,37,...,64,38,39,56,58,53,72,68,29,0.0
2,52,46,61,64,130,134,75,210,194,171,...,46,60,48,48,32,49,44,42,49,0.0
3,156,169,191,190,185,141,124,127,132,201,...,182,192,146,190,173,195,176,171,181,0.0
4,141,158,166,172,173,177,179,181,182,184,...,11,11,11,13,10,11,12,10,9,0.0

#### Dog Data

In [46]:
X_Dog=pd.DataFrame(data=X_dog)
print (X_Dog.shape)
X_Dog.head()

(12500, 4096)

,0,1,2,3,4,5,6,7,8,9,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,115,144,161,163,131,134,128,137,140,141,...,143,96,94,84,79,75,71,76,74,86
1,110,122,101,110,94,116,107,120,119,84,...,239,247,242,233,245,246,245,240,239,233
2,178,161,164,135,165,168,162,167,166,162,...,195,190,190,193,196,199,202,206,211,217
3,227,224,203,202,211,220,223,201,195,240,...,167,171,170,171,166,168,172,168,166,164
4,150,149,149,153,153,154,157,158,151,146,...,170,166,157,152,105,65,62,56,36,38

In [49]:
X_Dog['label'] = Y_dog
dog_data= X_Dog
dog_data.head()
#the Dog dataset

,0,1,2,3,4,5,6,7,8,9,...,4087,4088,4089,4090,4091,4092,4093,4094,4095,label
0,115,144,161,163,131,134,128,137,140,141,...,96,94,84,79,75,71,76,74,86,1.0
1,110,122,101,110,94,116,107,120,119,84,...,247,242,233,245,246,245,240,239,233,1.0
2,178,161,164,135,165,168,162,167,166,162,...,190,190,193,196,199,202,206,211,217,1.0
3,227,224,203,202,211,220,223,201,195,240,...,171,170,171,166,168,172,168,166,164,1.0
4,150,149,149,153,153,154,157,158,151,146,...,166,157,152,105,65,62,56,36,38,1.0

#### Union the Dog&Cat data sets:

In [52]:
train_data=pd.concat([cat_data,dog_data])
train_data=train_data.sample(frac=1)
train_data.head()
#this is our train dataset

,0,1,2,3,4,5,6,7,8,9,...,4087,4088,4089,4090,4091,4092,4093,4094,4095,label
10089,162,135,159,130,145,184,163,140,181,151,...,129,103,183,175,141,107,130,147,157,1.0
8813,112,113,114,114,114,116,117,117,117,118,...,30,16,15,15,17,18,23,22,27,1.0
8957,197,200,202,204,206,204,202,201,202,202,...,62,59,65,64,62,59,57,59,62,1.0
11298,45,49,43,44,46,43,43,43,44,48,...,156,154,160,163,160,159,164,168,158,1.0
3814,213,176,195,120,133,140,126,119,125,145,...,236,235,230,226,233,228,228,243,230,1.0

In [55]:
#lets split the data for x and y so we can to normalize the x data
x= train_data.drop(['label'],axis=1)
y=train_data['label']

In [59]:
#Normalize the data:
tmp=x.values
min_max_scaler=MinMaxScaler()
scaled=min_max_scaler.fit_transform(tmp)
x=pd.DataFrame(scaled)
x.head()

,0,1,2,3,4,5,6,7,8,9,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,0.635294,0.529412,0.623529,0.509804,0.568627,0.721569,0.639216,0.549020,0.709804,0.592157,...,0.549020,0.505882,0.403922,0.717647,0.686275,0.552941,0.419608,0.509804,0.576471,0.615686
1,0.439216,0.443137,0.447059,0.447059,0.447059,0.454902,0.458824,0.458824,0.458824,0.462745,...,0.117647,0.117647,0.062745,0.058824,0.058824,0.066667,0.070588,0.090196,0.086275,0.105882
2,0.772549,0.784314,0.792157,0.800000,0.807843,0.800000,0.792157,0.788235,0.792157,0.792157,...,0.254902,0.243137,0.231373,0.254902,0.250980,0.243137,0.231373,0.223529,0.231373,0.243137
3,0.176471,0.192157,0.168627,0.172549,0.180392,0.168627,0.168627,0.168627,0.172549,0.188235,...,0.603922,0.611765,0.603922,0.627451,0.639216,0.627451,0.623529,0.643137,0.658824,0.619608
4,0.835294,0.690196,0.764706,0.470588,0.521569,0.549020,0.494118,0.466667,0.490196,0.568627,...,0.839216,0.925490,0.921569,0.901961,0.886275,0.913725,0.894118,0.894118,0.952941,0.901961

#### after Normalization we can lower dimensions by using PCA:

In [62]:
pca= PCA(n_components=16)
X_reduced = pca.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X_reduced, y, test_size=0.2, random_state=0)

X_reduced.shape

(25000, 16)

In [63]:
pd.DataFrame(data=y_train)

       label
5086     1.0
7085     1.0
3937     0.0
10947    1.0
6304     0.0
...      ...
8625     0.0
5554     0.0
8046     1.0
362      0.0
6145     1.0

[20000 rows x 1 columns]

### now we will use diffrent Models to classify the data